@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500&display=swap');

:root{
    --color-grey: #F2F2F2;
    --color-blue: #74ABDA;
    --color-black: #262626;
    --color-title: #F29F20;
    --color-header: #26262699;
}

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    height: 100vh;
}

/* == CLASSES AUXILIARES == */

.center{
    width: 100%;
    padding:0 2%;
    margin: 0 auto;
    max-width: 768px;
}

.container{
    width: 100%;
    padding:0 2%;
    margin: 0 auto;
    max-width: 900px;
}

h2 .line{
    width: 35px;
    cursor: pointer;
    background-color: var(--color-title);
    border: 3.5px solid var(--color-title);
}

/* == HEADER == */

header{
    padding: 16px 0;
    text-align: center;
    background-color: var(--color-grey);
}

header img{
    width: 150px;
}

/* == PARALLAX_01 == */

section.parallax_01{
    width: 100%;
    padding: 32px 0;
    min-height: 600px; 

    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-image: url('../publlic/imagens/backgroundCF_02.jpg');
}

.parallax_01 h2{
    top: 50%;
    left:50%;
    position: absolute;
    transform: translate(-50%, -50%);

    font-size: 2.75rem;
    font-weight: bold;
    color:var(--color-grey);

}

.parallax_01 h2 .line{
    width: 75px;
    cursor: pointer;
    border: 10px solid#74ABDA; 
}

.parallax_01 h2 .line:hover{
    width: 235px;
    transition: 700ms;
}

/* == FORMULÁRIO ==*/

section.form {
    padding: 32px 0;
    background-color:var(--color-grey);
}

section.form h2{
    
    margin-bottom: 24px;

    font-size: 2rem;
    font-variant: small-caps;

    padding: 5px;
    display:inline-block;
    border-radius: 3.5px;
    color: var(--color-title);
   
}

section.form p{
    font-size: 16px;
    line-height: 26px;
    padding-bottom: 32px;
    color: var(--color-header);
}

input{
    width: 100%;
    padding: 12px;
    margin-bottom: 8px;

    border: none;
    outline:none;
    border-bottom: 1px solid var(--color-title);
}

button{
    width: 50%;
    padding: 12px 0;
    cursor: pointer;
    margin-top: 16px;

    color: #FFF;
    font-size: 20px;
    font-weight: bold;
    font-variant: small-caps;

    border: 0;
    outline: none;
    background-color:  #FD974E;
}

button:hover{
    transition: 700ms;
    background-color: var(--color-title);
}

/* == MODULE == */

section.module{
    padding: 32px 0;
}

h2.moduleTitle {
    font-size: 2rem;
    margin-bottom: 32px;
    font-variant: small-caps;
}

/* == CARDS == */

.card{
    padding: 8px 0;
}

.card{
    text-align: justify;
}

.card h2{
    cursor: pointer;
    color: #808080;
    font-variant: small-caps;

    padding: 8px;
    border-radius: 2.5px;
    background-color: #F2F2F2;
    box-shadow: 3px 3px 5px 3px rgba(242,242,242,0.5)
}

.card span{
    font-size: 16px;
    font-variant: small-caps;

    color: var(--color-header);
}

.card h2, h4{
    padding-bottom: 8px;
    
}

.card h4{
    color: #808080;
    padding-top: 8px;
    padding-left:8px;
    font-variant: small-caps;
}

p.content{
    padding: 8px 8px 0;

    height: 0;
    overflow: hidden;
    
    transition: 700ms;
}

.mostrar{
    height:145px !important;
}

/* == SLIDER == */

section.slider{
    height: 764px;
    padding: 32px 0;
    background-color: var(--color-black);
}

.boxTitle{
    text-align: center;
    padding-bottom: 56px;
}

.boxTitle h2{
    font-size: 2rem;
    font-variant: small-caps;
}

.boxTitle h2:first-child{
    color: var(--color-grey);
    margin-bottom: 8px;
}

.box{
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.box .boxSingle{
    top: -25px;
    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    transition: 700ms;
}

.box .boxSingle:first-child{
    opacity: 1;
}

.boxSingle h2{
    font-size: 2.75rem;
    color: var(--color-grey);

    bottom: 120px;
    text-align: center;
    position: absolute;
}

.boxSingle hr{
    height:10px;
    width: 75px;
    bottom: 105px;
    position: absolute;

    border-color: var(--color-title);
    background-color: var(--color-title);
}

.boxSingle p{
    font-size: 1.25rem;
    color: var(--color-grey);

    bottom: 45px;
    padding: 0 10px;
    position: absolute;
    text-align: center;
}

.bullets{
    margin-top: 535px;
    text-align: center;
}

.bullet-single{
    width: 17px;
    height:17px;
    border-radius: 8.5px;

    cursor: pointer;
    display: inline-block;

    background-color: var(--color-title);
}

.active-bullet{ 
    background-color: var(--color-grey);
}

/* == FAIXA == */

.faixa{
    padding: 3.5rem 0;
    text-align: center;
    font-variant: small-caps;
}

.faixa img{
    width: 265px;
}

/* == ICONS == */

section.icons{
    padding: 3.5rem 3.5rem;
    background-color: var(--color-black);
}

.boxIcons{   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.boxIcon{
    width: 70px;
    height:70px;
    border-radius: 35px;
    border: 1px solid #FFF;

    display: flex;
    align-items: center;
    justify-content: center;  
}

.wrapper .description{
    margin-top: 8px;
    margin-left: -16px;
    color: var(--color-grey);
}

/* == PROFILE == */

section.sessaoProfile{
    padding: 4rem 0;
    background-color: var(--color-grey);
}

section.sessaoProfile .img {
    text-align: center;
}

.img img{
    width: 250px;
    height:250px;
    border-radius: 125px;

    border: 5px solid var(--color-title);
}

.txt{
    padding-top: 16px;
    text-align: justify;
}

.txt h2{
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 1rem;
    color: var(--color-title);
}

.txt p:nth-child(2){
    margin-bottom: 8px;
}

/* == PREMIAÇÃO == */

.quote{
    padding: 2rem 0;
    font-size: 1.35rem;
    font-weight: bold;
    text-align: center;
    color: var(--color-grey);
    background-color: var(--color-blue);
}

/* == PARALLAX_02 == */

section.parallax_02{
    width: 100%;
    padding: 32px 0;
    min-height: 600px; 


    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-image: url('../publlic/imagens/backgroundCF_03.jpg');
}

/* == VÍDEO == */

.video{
    text-align: center;
    padding: 3.5rem 0;
}

.video iframe{
    width: 100%;
    height:315px;
    max-width:560px; 
}
/* == FOOTER == */

footer{
    color: #CCC;
    padding: 32px 0;
    margin-top: auto;
    background-color: var(--color-header);
}

footer h4{
    font-size: 18px;
    padding-bottom: 16px;
    font-variant: small-caps;
    
}
footer p{
    
    text-align: justify;
}

/* == RESPONSIVE DESIGN == */

@media screen and (max-width: 658px){
    .mostrar{
        height:auto !important;
    }
    .box{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 568px){
    button{
        width: 100%;
    }
    .box{
        grid-template-columns: 1fr;
    }

    .boxSingle p{
        width: 295px;
    }

    section.slider{
        height: 800px;
    }
}